<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee_7" xsi:schemaLocation=
"http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
id="WebApp_ID" version="4.0">



 <display-name>TrainLineSNCF</display-name> 

    <servlet>
            <servlet-name>TrainRegistration</servlet-name>
            <servlet-class>trainLine.servlets.Registration</servlet-class>
   </servlet>
   <servlet-mapping>
            <servlet-name>TrainRegistration</servlet-name>
            <url-pattern>/Registration</url-pattern>
   </servlet-mapping>
   
   
       <servlet>
            <servlet-name>TrainAuthentification</servlet-name>
            <servlet-class>trainLine.servlets.Authentification</servlet-class>
   </servlet>
   <servlet-mapping>
            <servlet-name>TrainAuthentification</servlet-name>
            <url-pattern>/Authentification</url-pattern>
   </servlet-mapping>
   
   
         <servlet>
            <servlet-name>TrainValidSession</servlet-name>
            <servlet-class>trainLine.servlets.ValidationSession</servlet-class>
   </servlet>
   <servlet-mapping>
            <servlet-name>TrainValidSession</servlet-name>
            <url-pattern>/ValidSession</url-pattern>
   </servlet-mapping>
   
    <servlet>
            <servlet-name>TrainReservation </servlet-name>
            <servlet-class>trainLine.servlets.ReservationTicket</servlet-class>
   </servlet>
   <servlet-mapping>
            <servlet-name>TrainReservation</servlet-name>
            <url-pattern>/Reservation</url-pattern>
   </servlet-mapping>


    <servlet>
            <servlet-name>TrainSearch </servlet-name>
            <servlet-class>trainLine.servlets.SearchTrain</servlet-class>
   </servlet>
   <servlet-mapping>
            <servlet-name>TrainSearch</servlet-name>
            <url-pattern>/Search</url-pattern>
   </servlet-mapping>
   
    <servlet>
            <servlet-name>Coordianator</servlet-name>
            <servlet-class>trainLine.servlets.CityCoordinate</servlet-class>
   </servlet>
   <servlet-mapping>
            <servlet-name>Coordianator</servlet-name>
            <url-pattern>/Coordinate</url-pattern>
   </servlet-mapping>
   
       <servlet>
            <servlet-name>PromoCodeGenerator</servlet-name>
            <servlet-class>trainLine.servlets.PromoCodeGenerator</servlet-class>
   </servlet>
   <servlet-mapping>
            <servlet-name>PromoCodeGenerator</servlet-name>
            <url-pattern>/PromoCodeGen</url-pattern>
   </servlet-mapping>
   
</web-app>
<!-- https://mvnrepository.com/artifact/org.json/json -->

